@import "../../../../node_modules/sass-flex-mixin/_flex.scss";

.skeleton {
  height: 100%;
  @include flex-wrap(wrap);

  .meta-container {
    @include flex(4 2 50%);
    background: #fff;
  }
  .content-container {
    @include flex(3 1 400px);
    background: #ff95ab;
  }
}
