@import "../../../node_modules/sass-flex-mixin/_flex.scss";

.app {
  height: 100%;
  @include flex-wrap(wrap);

  .left-container {
    width: 53%;
  }
  .main-container {
    width: calc(47% - 64px);
    min-width: 375px;
  }
}
